body {
    margin:0;
    background-color:rgb(209, 231, 231);
    text-align:center;
    font-family: "Playpen Sans", cursive;
}

.hero {
    flex-direction: column;
    justify-content: center;
    color:white;
    background-image: url(images/groundhog.jpg);
    background-position: center;
    background-size: cover;
    height:500px;
}
#groundhog-img {
    background-size:cover;
}

#header {
    background-color:red;
    display:inline-block;
}